@font-face {
  font-family: 'SF';
  font-weight: 300;
  src: url(./fonts/SFProDisplay-Thin.woff2);
}
@font-face {
  font-family: 'SF';
  font-weight: 400;
  src: url(./fonts/SFProDisplay-Light.woff2);
}
@font-face {
  font-family: 'SF';
  font-weight: 500;
  src: url(./fonts/SFProDisplay-Regular.woff2);
}


* {
  margin: 0;
  padding: 0;
  font-family: 'SF';
  font-weight: 400;
  box-sizing: border-box;
  transition: opacity .5s;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

.block {
  width: calc(100% - 40px);
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block__title {
  text-align: center;
}

.block__prompt {
  font-weight: 300;
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
}

.buttons {
  position: absolute;
  bottom: 180px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
}

.buttons__button {
  background: #fff;
  border: 3px solid #000;
  width: calc(50% - 10px);
  min-height: 100px;
  font-size: 3em;
}

.buttons__button_no {
  border-width: 1px;
  font-weight: 300;
}

.block__inputs {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 240px;
  display: flex;
  justify-content: space-between;
  /* opacity: 0;
  pointer-events: none; */
}

.block__input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 3em;
}